// out: admin.css, sourcemap: false, compress: true
#login-box{
	border: 1px solid #a7a7a7;
	background: #cecece;
	padding-bottom: 50px;
	margin-top: 50px;
    .widget-body{
        background-color: transparent;
    }
}
.pad-10t{
	padding-top: 10px
}
.gr-act{
	padding-top: 8px
}
.red-bold{
	color: #f00;
	font-weight: bold;
}
.error{
	input,textarea,select{
		border-color: #D16E6C;
	}
	.help-block{
		color: #D16E6C;
		padding-left: 0;
	}
}
.tag-group{
	.tags{
		width: 100%;
	}
}
.lighter-heading{
	padding: 10px 5px;
	background-image: -webkit-linear-gradient(top,#FFF 0,#CDC 100%);
	background-image: -o-linear-gradient(top,#FFF 0,#CDC 100%);
	background-image: linear-gradient(to bottom,#FFF 0,#CDC 100%);
}
.form{
	label{
		margin-top: 10px;
		font-weight: bold
	}
}
