// out: styles.min.css, sourcemap: false, compress: true
@color: #ff7c00;
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	background: #fff;
	font-weight: normal;
	color: #000;
	font-size: 16px;
}
img{
	width: 100%;
	vertical-align: middle;
}
.container{
	max-width: 960px;
}
.right{
	float: right;
}
.margin-10b{
	margin-bottom: 10px;
}
.margin-20b{
	margin-bottom: 20px;
}
.margin-30b{
	margin-bottom: 30px;
}
.margin-40b{
	margin-bottom: 40px;
}
.margin-50b{
	margin-bottom: 50px;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.bg-e1{
	background: #e1e1e1
}
.padding-box{
	padding-top: 20px;
	padding-bottom: 40px
}
.col50{
	float: left;
	width: 50%;
	&::after,&::before{
		content: ' ';
		display: table;
	}
	@media screen and(max-width: 768px){
		width: 100%
	}
}
.box{
	&::before,&::after{
		content: ' ';
		display: table;
	}
}
a,button,input[type=button],input[type=submit]{
    cursor: pointer;
}
button,input{
    outline: none;
    border: none;
}
ul,li{
    list-style: none;
}
ul{
	li{
		float: left;
		display: block;
	}
}
.txt-center{
	text-align: center;
}
.module{
	position: relative;
}
header{
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px 0;
	z-index: 99;
	.navbar{
		margin-bottom: 0
	}
}
.top-logo{
	float: left;
	margin-top: 0;
	a{
		display: block;
	}
	@media screen and(max-width: 420px){
		float: none;
		display: flex;
		justify-content: center;
	}
}
.navbar-menu{
	transition: ease all .5s;
	@media screen and(max-width: 420px){
		position: fixed;
		top: 0;
		width: 260px;
		left: -213px;
		.top-menu{
			visibility: hidden;
			margin-left: 0;
			li{
				width: 100%;
				float: left;
				&:hover,&.active{
					padding-left: 20px;
				}
			}
		}
		&.open{
			left: 0;
			.top-menu{
				visibility: visible;
			}
		}
	}
	&.open{
		background: rgba(0,0,0,0.9);
		z-index: 99
	}
}
.top-menu{
	float: left;
	margin-left: 50px;
	li{
		transition: ease all .5s;
		a{
			color: #fff;
			display: block;
			font-size: 16px;
			padding: 10px;
		}
		&:hover,&.active{
			a{
				color: @color;
			}
		}
	}
}
.logo-mobile{
	@media screen and(max-width: 420px){
		display: flex;
		justify-content: center;
	}
}

#toggle_menu{
	background: transparent;
	font-size: 24px;
	color: #fff;
	float: right;
	display: none;
	@media screen and(max-width: 420px){
		display: block;
	}
}
.lang-opt{
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	li{
		margin-left: 10px;
		a{
			display: block;
			width: 31px;
			background: url(../../images/lang-thumb.png) no-repeat;
			height: 20px;
			text-indent: 99999px;
			white-space: nowrap;
			overflow: hidden;
		}
		.vn{
			background-position: 0px 0px;
		}
		.en{
			background-position: -35px 0px;
		}
	}
	@media screen and(max-width: 420px){
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 0;
	}
}
#intro{
	margin-top: -45px;
	@media screen and(max-width: 420px){
		margin-top: 20px;
	}
}
.heading-intro{
	h2{
		text-align: center;
		font-size: 28px;
		color: #333;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 30px;
	}
}
.search-form{
	float: left;
	margin-top: 5px;
}
.search-box{
	border-radius: 5px;
	position: relative;
	float: left;
	&:hover{
		input[type=text]{
			display: block;
		}
	}
	input[type=text]{
		display: none;
		padding: 5px 25px 5px 10px;
		border-radius: 5px;
		background: #fff;
		position: absolute;
		top: 30px;
		right: 0;
	}
	button{
		background: none;
		float: right;
		font-size: 22px;
		padding: 5px;
		color: #fff
	}
}
#mid_banner{
	position: relative;
	display: table;
	&.type2{
		.ban-thumb{
			max-height: 350px;
			overflow: hidden;
		}
		.shadow{
			.container{
				h2{
					max-width: 100%;
					font-size: 34px
				}
			}
		}
	}
	.ban-thumb{
		display: block;
	}
	.shadow{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.6);
		color: #fff;
		.container{
			margin-top: 100px;
			@media screen and(max-width: 420px){
				margin-top: 50px;
			}
			font-family: Roboto;
			.right{
				h2{
					max-width: inherit;
				}
			}
			h2,p{
				max-width: 60%;
				margin-bottom: 22px;
				@media screen and(max-width: 420px){
					max-width: 100%;
				}
			}
			h2{
				text-transform: uppercase;
				font-size: 28px;
				@media screen and(max-width: 420px){
					font-size: 16px;
				}
			}
			.btn-more{
				background: @color;
			}
			h3{
				font-size: 24px;
				text-transform: uppercase;
				margin-bottom: 20px;
				margin-top: 0;
				@media screen and(max-width: 420px){
					font-size: 16px;
				}
			}
			.abt{
				display: flex;
				justify-content: center;
				li{
					padding: 5px 15px;
					border-right: 1px solid @color;
					font-size: 34px;
					text-transform: uppercase;
					&:last-child{
						border-right: none;
					}
					@media screen and(max-width: 420px){
						padding: 0 5px;
						border-right: none;
						font-size: 14px;
					}
				}

			}
			.txt-wc{
				@media screen and(max-width: 420px){
					display: none;
				}
				h3{
					font-size: 28px;
					color: @color;
				}
				h4{
					font-size: 24px;
				}
			}
		}
	}
}
.up-box{
	margin-bottom: 20px;
	.inner-box{
		height: 145px;
		border: 1px solid @color;
		padding: 20px;
		display: flex;
		justify-content: center;
		position: relative;
		text-align: center;
		background: #fff;
		strong,span{
			display: block;
		}
		strong{
			font-size: 30px;
			color: @color;
			text-transform: uppercase;
		}
		span{
			font-size: 18px;
		}
		&::after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			border-top: 30px solid @color;
			border-right: 30px solid transparent;
			border-left: 0px solid transparent;
		}
	}
}
.ic{
	background: url(../../images/icons1.png) no-repeat;
	display: block;
	height: 95px;
}
.ic-ser{
	background-position: -4px -8px;
	width: 126px;
}
.ic-glo{
	background-position: -135px -10px;
	width: 90px;
}
.ic-tar{
	background-position: -225px -10px;
	width: 90px;
}
.ic-pap{
	background-position: -315px -10px;
	width: 90px;
}
.ic-pay{
	background-position: -407px -10px;
	width: 90px;
}
.intro-item{
	margin-bottom: 40px;
	.inner-box{
		text-align: center;
		height: 240px;
		@media screen and(max-width: 420px){
			height: auto;
		}
		.ic{
			margin: 0 auto;
		}
		h4{
			color: @color;
			font-size: 20px;
		}
	}
}
.btn-more{
	text-align: center;
	padding: 6px 35px;
	border: 1px solid @color;
	border-radius: 7px;
	color: #fff
}
.cly{
	background: @color
}
#prj_carousel{
	.car-item{
		width: 33.33%;
		float: left;
		color: #fff;
		margin-bottom: 40px;
		@media screen and(max-width: 420px){
			width: 100%
		}
		h3{
			text-transform: uppercase;
		}
		&:hover{
			.inner{
				-ms-transform: scale(1.1); /* IE 9 */
			    -webkit-transform: scale(1.1); /* Safari 3-8 */
			    transform: scale(1.1);
				z-index: 98;
				.shadow{
					bottom: 80px;
				}
				.btn-more{
					background: @color
				}
			}
		}
		.inner{
			height: 322px;
			position: relative;
			transition: transform .2s;
			.shadow{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0,0,0,0.3);
				padding: 30px;
				transition: transform .3s;
				p{
					margin-bottom: 30px;
				}
			}
		}
	}
}
#manuf_carousel{
	.car-item{
		padding: 20px 30px;
		float: left;
		display: flex;
		justify-content: center;
		a{
			display: block;
		}
	}
}
footer{
	background-image: url('../../images/bg-footer.png');
	background-color: rgba(0,0,0,0.3);
	padding-top: 20px;
	padding-bottom: 30px;
}
.bot-logo{
	float: left;
	width: 100%;
	border-bottom: 1px solid #9c9b9b;
	padding-bottom: 10px;
	margin-bottom: 10px;
	a{
		display: block;
		float: left;
		width: 110px
	}
}
.info-com{
	h4{
		font-size: 16px;
		color: @color;
		font-weight: 600;
	}
	p{
		margin: 0;
		line-height: 25px;
		color: #fff
	}
}
.bot-social{
	color: #fff;
	padding-left: 70px;
	li{
		margin-left: 20px;
		a{
			color: #fff;
			display: block;
			padding: 2px 5px;
			border-radius: 5px;
			font-size: 20px;
			box-shadow: 0 0 1px 1px #fff;
			min-width: 40px;
			text-align: center;
		}
		.fb{
			background: #4468ab
		}
		.gp{
			background: #f3511e
		}
	}
	strong{
		line-height: 43px;
	}
}
.about-info{
	padding-top: 20px;
	padding-bottom: 40px;
	.heading{
		h2{
			font-size: 22px;
			text-transform: uppercase;
			color: @color;
			font-family: 'Roboto',sans-serif;
			margin-bottom: 20px;
		}
	}
}
.border-bot{
	h1,h2{
		&::after{
			content: '';
			border-bottom: 3px solid @color;
			width: 125px;
			margin: 15px auto;
			display: block;
		}
	}
}
.core-item{
	height: 160px;
	h3{
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}
.core1{
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	h3{
		color:#0096ff
	}
}
.core2{
	border-bottom: 1px solid #cdcdcd;
	h3{
		color:#e90404
	}
}
.core3{
	border-right: 1px solid #cdcdcd;
	h3{
		color:#df0cbf
	}
}
.core4{
	h3{
		color:#3cab00
	}
}
.gallery-box{
	display: table;
	.item{
		width: 25%;
		float: left;
		height: 220px;
		overflow: hidden;
		img{
			height: 100%
		}
	}
	.shadow{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.6);
		.inner{
			max-width: 900px;
			margin: 30px auto;
			color: #fff;
			h2{
				font-size: 28px;
				font-weight: bold;
				margin-bottom: 30px;
				margin-top: 80px;
				text-transform: uppercase;
			}
			.fa{
				color: @color;
				margin-left: 8px;
				margin-right: 8px;
				position: relative;
				top: -5px;
			}
		}
	}
}
.find-box{
	position: relative;
	margin-left: -4px;
	margin-right: -4px;
	&::before,&::after{
		content: '';
		display: table;
	}
	input[type=text]{
		border: 1px solid #959595;
		border-radius: 3px;
		position: relative;
		padding: 5px 20px;
		width: 100%;
	}
	button{
		background: @color;
		color: #fff;
		width: 100%
	}
	.col-80{
		&::before{
			content: '';
			position: absolute;
			right: 10px;
			top: 10px;
			border-left: 15px solid @color;
			border-top: 15px solid transparent;
			border-right: 0px solid transparent;
			z-index: 10
		}
	}
}
.col-80,.col-20{
	float: left;
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
}
.col-80{
	width: 80%;
}
.col-20{
	width: 20%;
}
#frm_contact{
	.btn-send{
		padding: 6px 30px;
		background: @color;
		color: #fff;
	}
	label{
		span{
			color: @color
		}
	}
}
.mod-jod-detail{
	.title{
		h4{
			font-size: 20px;
			color: @color;
			margin: 20px 0
		}
	}
	.short-detail{
		background: #ebebeb;
		padding: 15px 20px;
		strong{
			margin-right: 20px;
		}
	}
	.detail{
		.inner{
			float: left;
			width: 100%
		}
		img{
			width: auto;
		}
	}
}
.module-job{
	table{
		td{
			a{
				color: @color
			}
		}
	}
}
#servicer_box{
	float: left;
	width: 100%;
	article{
		float: left;
		width: 100%;
		background: #fff;
		.inner-info{
			padding: 35px;
			@media screen and(max-width: 768px){
				padding: 25px;
			}
			h3{
				font-size: 24px;
				color: #000;
				margin-top: 0;
			}
			p{
				margin-bottom: 20px;
			}
		}
		&:nth-child(2n){
			background: #e1e1e1;
			.inner-info{
				margin-left: 175px;
				@media screen and(max-width: 768px){
					margin-left: 0;
				}
			}
		}
	}
}
#ser_info{
	article{
		.right{
			width: 50%;
			padding: 40px 20px 20px 20px;
			p{
				position:relative;
				color: #fff;
				line-height:30px;
				width: 70%;
				text-align: justify;
			}
			span.fa{
				color: #ff7c00;
				margin-left: 8px;
				margin-right: 8px;
				position: relative;
				top: -5px;
			}
		}
	}
}

.icon{
	display: block;
	width: 86px;
	height: 90px;
	background-image: url('../../images/icon-service.png');
}
.icon-book{
	background-position: -95px 0px
}
.icon-care{
	background-position: 0px 0px
}
.icon-call{
	background-position: 86px 0px
}
.icon-radio{
	background-image: url('../../images/icon-service.png');
	height: 75px;
	width: 122px;
	display: block;
	background-position: 0 -89px;
}
.ser-child{
	li{
		display: block;
		text-align: center;
		h4{
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 600;
			color: #222;
			line-height: 26px;
			height: 50px
		}
		span{
			margin: 15px auto 10px auto
		}
		.inner{
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
			border-bottom: 1px solid #eee;
			border-top: 2px solid @color;
			padding: 15px 20px;
			overflow: hidden;
			.head{
				height: 160px;
			}
		}
		i{
			cursor: pointer;
			font-size: 34px;
			transition: .6s;
		}
		p{
			text-align: justify;
			display: none;
			transition: .5s;
			padding-top: 10px;
			border-top: 1px solid @color
		}
	}
}
.mid-ser-dt{
	h2{
		line-height: 40px;
		span{
			display: block;
		}
	}
}
.news-item{
	margin-bottom: 20px;
	a{
		display: block;
		color: #333;
		font-size: 17px;
		border: 1px solid #a1a1a1;
		background: #a1a1a1;
		&:hover{
			border-color: #ff7900;
			background: #ff7900;
			.title{
				color: #ff7900
			}
			p{
				width: 100%;
			}
		}
		.short-content{
			padding: 15px;
			background: #fff;
			height: 140px;
			overflow: hidden;
			.category{
				font-size: 14px;
				color: #666;
				text-shadow: 0px 0px 1px #666
			}
		}
		span{
			display: block;
		}
		.title{
			text-transform: uppercase;
			font-size: 16px;
			line-height: 26px
		}
		p{
			padding: 10px 15px;
			margin: 0;
			transition: width 1s;
			text-align: right;
			width: 120px;
			span{
				color: #fff;
			}
		}
	}
}
aside{
	.heading{
		h2{
			text-align: center;
			text-transform: uppercase;
			font-size: 18px;
		}
	}
}
.detail-content{
	h1{
		color: #56646a;
		font-size: 22px;
		text-transform: uppercase;
		margin-top: 0;
	}
	img{
		width: auto;
	}
	.inner{
		float: left;
		width: 100%;
		h2{
			color: #606060;
			font-size: 18px;
			text-transform: uppercase;
		}
		.rel{
			li{
				width: 100%;
				background: url(../../images/bullet.png) no-repeat 0 13px;
				padding: 5px 0 5px 20px;
				a{
					display: block;
					color: #032e42;
					text-decoration: underline;
				}
			}
		}
	}
}
